*, html {
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: #bbaadc;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #524371;
    position: fixed;
    top: 0;
    z-index: 99999999999999;
    width: 100%;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: yellow;
}


#addPattern {
    padding: 10px 15px;
    background-color: #816fa9;
    border-radius: 10px;
}

#addPattern:hover {
    background-color: #969682;
}

h1 {
    color: white;
    font-size: 1.5em;
}


.text {
    padding: 10px 0;
}


.pattern-section {
    margin-top: 145px;
    text-align: center;
}

.pattern-link, .pattern-no-link {
    background-color: #382d50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: .75em;
}

.pattern-link {
    border: 1px solid white;
}

.pattern-no-link {
    border: 1px solid #382d50;
}

.pattern-link:hover {
    color: yellow;
    background-color: #969682;
    border-color: yellow;
    cursor: pointer;
}

.pattern-box {
    background-color: #816fa9;
    width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px;
    border-radius: 10px;

}

.pattern-flex {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 20px;
}

.pattern-box h3 {
    margin-bottom: 30px;
    text-align: left;
    font-size: 1.25em;
}

.pattern {
    display: flex;
    flex-flow: row wrap;
    width: 180px;
    justify-content: center;
}

.pattern img, .placeholder {
    height: 150px;
}

.placeholder {
    border: 1px solid goldenrod;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

footer {
    text-align: center;
    color: #a58cd6;
    background-color: #524371;
    padding: 10px;
}